# Đồ án cuối kỳ môn: Lập trình cho khoa học dữ liệu

## Danh sách thành viên

| MSSV  | Họ tên  | Tài khoản github  |
|:------|:--------|:------------------|
1712770| Trương Thị Lệ Thanh  |thanhtruong1712|
1712771|  Bùi Thái Tấn Thành  |thanhtan0501|

## Import các thư viện cần thiết

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import datetime

## Thu thập dữ liệu

Bộ dữ liệu cung cấp thông tin về tổng số ca mắc, tử vong và hồi phục do tác động của dịch COVID-19 từ các quốc gia trên thế giới
- Nguồn dữ liệu: https://www.kaggle.com/imdevskp/corona-virus-report

## Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [3]:
df = pd.read_csv("Data/covid_19_clean_complete.csv")
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

### Số dòng và số cột của dữ liệu

Số dòng và số cột của dữ liệu sẽ được tính và lưu vào hai biến `num_rows` và `num_cols`.

In [3]:
num_rows, num_cols = df.shape
print("Dữ liệu có {} dòng và {} cột".format(num_rows, num_cols))

Dữ liệu có 49068 dòng và 10 cột

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

- Mỗi dòng mang thông tin về các trường hợp COVID-19 đã được xác nhận, tử vong và đã phục hồi từ các quốc gia khác nhau kể từ ngày 22/01/2020 đến ngày 27/07/2020
- Có vẻ không có dòng nào có ý nghĩa khác so với các dòng còn lại.

### Dữ liệu có các dòng bị lặp không?

In [4]:
print("Dữ liệu có số dòng bị lặp: {}".format(df.duplicated().sum()))

Dữ liệu có số dòng bị lặp: 0

### Mỗi cột có ý nghĩa gì?

### Mỗi cột hiện đang có kiểu dữ liệu gì?

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

In [5]:
nume_df = df[["Lat", "Long", "Date", "Confirmed", "Deaths", "Recovered", "Active"]]
def missing_ratio(s):
    return s.isna().mean() * 100
nume_col_profiles_df = nume_df.agg([missing_ratio, min, max])
nume_col_profiles_df

,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
missing_ratio,0.0000,0.000,0.0,0.0,0.0,0.0,0.0
min,-51.7963,-135.000,2020-01-22,0.0,0.0,0.0,-14.0
max,71.7069,178.065,2020-07-27,4290259.0,148011.0,1846641.0,2816444.0

Ta thấy không có giá trị thiếu. Cột `Active` có giá trị min là số âm ==> Cột `Active` có giá trị bất thường. Ta xét giá trị của cột `Active` <0

In [6]:
df[df['Active']<0]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
16238,Hainan,China,19.195900,109.745300,2020-03-24,168,6,168,-6,Western Pacific
16499,Hainan,China,19.195900,109.745300,2020-03-25,168,6,168,-6,Western Pacific
16760,Hainan,China,19.195900,109.745300,2020-03-26,168,6,168,-6,Western Pacific
17021,Hainan,China,19.195900,109.745300,2020-03-27,168,6,168,-6,Western Pacific
17282,Hainan,China,19.195900,109.745300,2020-03-28,168,6,168,-6,Western Pacific
17543,Hainan,China,19.195900,109.745300,2020-03-29,168,6,168,-6,Western Pacific
17804,Hainan,China,19.195900,109.745300,2020-03-30,168,6,168,-6,Western Pacific
18065,Hainan,China,19.195900,109.745300,2020-03-31,168,6,168,-6,Western Pacific
18326,Hainan,China,19.195900,109.745300,2020-04-01,168,6,168,-6,Western Pacific
32059,Channel Islands,United Kingdom,49.372300,-2.364400,2020-05-23,558,45,515,-2,Europe
32320,Channel Islands,United Kingdom,49.372300,-2.364400,2020-05-24,558,45,517,-4,Europe
32581,Channel Islands,United Kingdom,49.372300,-2.364400,2020-05-25,559,45,517,-3,Europe
33886,Channel Islands,United Kingdom,49.372300,-2.364400,2020-05-30,560,45,525,-10,Europe
34147,Channel Islands,United Kingdom,49.372300,-2.364400,2020-05-31,560,45,528,-13,Europe
34408,Channel Islands,United Kingdom,49.372300,-2.364400,2020-06-01,560,45,528,-13,Europe
34669,Channel Islands,United Kingdom,49.372300,-2.364400,2020-06-02,560,46,528,-14,Europe
40080,NaN,Liechtenstein,47.140000,9.550000,2020-06-23,82,2,81,-1,Europe
47192,NaN,Uganda,1.373333,32.290275,2020-07-20,1069,0,1071,-2,Africa

### Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?

## Đưa ra câu hỏi cần trả lời

### 1. Top 10 quốc gia có số ca nhiễm cao nhất thế giới ?

Trả lời được câu hỏi này, ta sẽ biết được tình hình kiểm soát dịch của các quốc gia trên thế giới như thế nào.

### 2. Mỗi tháng, số ca tử vong của quốc gia nào cao nhất?

Trả lời được câu hỏi này, ta sẽ biết được khả năng phòng chống dịch của một quốc gia có tốt hay không , các biện pháp hỗ trợ người dân khi bị mắc COVID-19 có đầy đủ hay không?